.App {
  text-align: center;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(85, 85, 122);
  color: white;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: white;
}

.nav-links li{
  color: white;
  font-size: 40px;
}

nav h1{
  list-style: none;
  color: white;
  font-size: 40px;
}

img{
  width: 150px;
}

.shop-items{
  display: flex;
  flex-wrap: wrap;
}

.shop-item{
  list-style: none;
  flex: 0 0 30.333333%;
  padding: 30px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.shop-items .shop-item span {
  font-size: 24px;
  padding-top: 20px;
}